* {
    box-sizing: border-box;
}

body {
    font-family: 'Kelly Slab', cursive;
    margin:0;
    padding:0;
    height: auto;
    background-image:url(hellophp.jpg) ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    background-position-y: 100px;
}

.navbar { 
    z-index: 10;
    height: 45px;
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    width: 100%;
    justify-content: center;
    justify-items: center;
    position:fixed;
}

.navbar h1 {
        position: relative;
        bottom: 18px;
        right: -15px;
}

.navbar ul {
    position: relative;
    top: -7px;
    text-align: center;
    display: flex;
    width: 100%;
    height: 30px;
    padding-left: 90px;
    justify-content: space-around;
}

.navbar ul li {
    list-style: none;
    height: 30px;
    display: inline-block;
    width: 90px;
    line-height: 30px;
}

a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

li:hover a {
    color:crimson;
}

.container {
    padding:0;
    background-repeat:no-repeat ;
    background-image: url(bg1.jpg);
    background-size:cover ;
    width:100%;
    height: 1260px;
    line-height: 1260px;
    background-position:center;
    background-position-y: -150px;
    background-position-x: -340px;
}

.header {
    position: relative;
    top: -300px;
}

.header h1 {
    color:white;
    text-align: center;
    font-family:  'Kelly Slab', cursive;
    font-size: 80px;
    text-shadow: 7px 7px black;
}

.header h1::after {
    content: "Arfan Fadillah";
    color: white;
    animation: textanim 10s linear infinite;
}

@keyframes textanim {
    25%{
        content: "Alfred Sarunan";
        color:white ;  
    }
    50%{
        content: "Aidia Oemami";
        color:white ;
    }
    75%{
        content: "Muhammad Afif Baihaqi";
        color:white ;
    }
    100%{
        content: "Pykram Roganti Gultom";
        color:white ;
    }
  }
  
  .footer {
    margin: 0;
    padding: 0;  
    text-align:center ;
    display: block;
    background-color: rgba(0, 0, 0, 0);
    color:black;
    margin-bottom: -100px;
  }

@media (max-width:1000px) {
    .navbar {
        width : 90%;
    }
    .navbar h1 {
        font-size: 30px;
    }

    .container {
        width: 100%;
        background-position-x: -650px;
    }

    .header h1 {
        display: none;
    }

}

@media (max-width:670px) {
    .navbar {
        width:85%;
        font-size: 16px;
    }
    
    .navbar h1 {
        position: absolute;
        top:200px;
        right:60px;
        font-size: 70px;
}

    .container {
        width: 100%;
        background-position-x: -750px;
    }

    .header h1 {
        display: none;
}